.pre-btn,
.nxt-btn{
    border:none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0)0%, #fff
        100%);
    cursor: pointer;
    z-index: 9;
}

.pre-btn{
    left: 0;
    transform: rotate(180deg);
    

}
.card-custom{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.nxt-btn{
    right: 0;

     
}

.pre-btn img,
.nxt-btn img{
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img{
    opacity: 1;



}
@media screen and (min-width: 40em) {
    .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
 
    .card {
        flex: 0 1 calc(25% - 1em);
    }

}